<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This is a new Express app</h1>
    <h2>For the Render Deployment Assignment</h2>
    <p>By Alex Krumm</p>
  </body>
</html>
